
{{#each postData}}
    <div class="card mt-5">
        <h5 class="card-header">{{this.title}}</h5>
        <div class="card-body">
            <p class="card-text">{{this.content}}</p>
        </div>
        <div class="card-footer text-muted">
            <p>Posted by {{this.user.username}} on {{date_formatter this.createdAt}}</p>
        </div>
        </div>
{{/each}}