<div class="card">
    <form id='login-form'>
        <div class="card-body">
            <h1>Please Login</h1>
                <div class="input-group mb-3">
                    <input type="username" class="form-control" placeholder="Username" id="login-username" autocomplete="off">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="login-password" autocomplete="off">
                </div>
                <button class="btn btn-primary me-md-2" type="submit">Login!</button>
                <br>
                <br>
                <div class="card-footer">
                    <p>New to Tech Blog?</p>
                    <a href="/signup" class="btn btn-primary me-md-2" type="button">Create Account</a>
                </div>
        </div>
    </form>
</div>

<script src='js/login.js'></script>