<div class="card">
    <div class="card-body">
        <h1>Create Account</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Please enter your username here!">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Please enter your password: Must be 8 characters in length!">
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Create Account!</a>
            </div>
    </div>
</div>